
body, div, p {
  margin:0;
  padding:0;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-weight:normal;
}

p {
  color:#333;
}

.container {
  width:400px;
  margin:0 auto;
}

canvas {
  border:1px solid #ddd;
}

#playOptions a, input[type='submit'] {
  text-decoration:none;
  padding:10px 30px;
  background-color: #0074CC;
  background-image: -moz-linear-gradient(top, #08C, #05C);
  background-image: -ms-linear-gradient(top, #08C, #05C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
  background-image: -webkit-linear-gradient(top, #08C, #05C);
  background-image: -o-linear-gradient(top, #08C, #05C);
  background-image: linear-gradient(top, #08C, #05C);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #05C #05C #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

#submitAnswer {
  display:none;
}

#submitAnswer input[type='text'] {
  font-size:24px;
}
#submitAnswer input[type='submit'] {
  font-size: 18px;
  display:inline-block;
  padding: 6px 16px;
  vertical-align: top;
}

#answers p {
  font-size: 24px;
  border-bottom:1px solid #eee;
}